.main-sidebar .brand-link .brand-image {
  display: none;
}
.btn-nuevo {
  width: 20%;
  float: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.iconos-lista {
  margin-left: 5px;
}
.hide {
  display: none;
}
.signo {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}
@media (max-width: 1700px) {
  .tabla-bitacora {
    width: 1500px !important;
  }
}
@media (max-width: 1600px) {
  .tabla-bitacora {
    width: 1400px !important;
  }
}
@media (max-width: 1500px) {
  .tabla-bitacora {
    width: 1330px !important;
  }
}
@media (max-width: 1400px) {
  .tabla-bitacora {
    width: 1200px !important;
  }
}
@media (max-width: 1300px) {
  .tabla-bitacora {
    width: 1130px !important;
  }
}
@media (max-width: 1200px) {
  .btn-nuevo {
    width: 20%;
    float: right;
  }
  .tabla-bitacora {
    width: 930px !important;
  }
}
@media (max-width: 992px) {
  .btn-nuevo {
    width: 20%;
    float: right;
  }
  .tabla-bitacora {
    max-width: 785px !important;
  }
}
@media (max-width: 768px) {
  .btn-nuevo {
    width: 20%;
    float: right;
  }
  .tabla-bitacora {
    width: 753px !important;
  }
}
@media (max-width: 576px) {
  .btn-nuevo {
    width: 100%;
  }
  .dataTables_info {
    display: none;
  }
  .btn-nuevo {
    margin-top: 20px;
  }
  .card-footer-mostrar .btn {
    margin: 7px 0px 7px 0px;
    width: 100%;
  }
  .tabla-bitacora {
    width: 360px !important;
  }
}
