.video-container {
  width: 100%;
  height: 649px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-container {
  padding: 0px 60px 0px;
}
.target-container {
  background-color: #f2f2f2;
  padding: 0px 60px 60px;
}
.about-titularice {
  align-self: center;
  padding: 50px 90px 0px;
}
.about-titularice > p {
  text-align: justify;
}
.about-text {
  align-self: center;
  padding: 0px 90px 0px;
  text-align: justify;
}
.phrase {
  padding: 0px 60px 40px;
  align-content: center;
  color: #14264c;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
#assesorement-container {
  width: 100%;
  height: 300px;
  background-image: url("../../img/house-investments-elements.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.assesorement-question {
  display: flex;
  margin: auto;
  padding: 60px 60px;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.assesorement-question > span {
  text-align: center;
  font-size: 30px;
  margin-bottom: -20px;
  color: #fff;
  font-weight: bold;
}
.target-card > .card-body > p {
  text-align: justify;
}
.card-title {
  color: #14264c;
  font-size: 30px;
  font-weight: bold;
}
.mt-fix {
  margin-top: 45px !important;
}
.blue-line {
  color: #14264c;
  width: 87px;
  height: 4px !important;
  opacity: 1;
}
@media (max-width: 640px) {
  .cabecera {
    display: none;
  }
  .about-container {
    padding: 0px 10px 0px;
  }
  .about-titularice {
    padding: 40px 40px 0px;
  }
  .about-text {
    padding: 40px 40px 0px;
  }
  .phrase {
    padding: 10px 20px 0px;
  }
  .target-container {
    padding: 0px 10px 0px;
  }
  #assesorement-container {
    height: 400px;
  }
  .video-container {
    height: 400px;
  }
  .mt-fix {
    margin-top: 0px !important;
  }
}
