.banner-container {
  background-image: url("../../img/contact-us.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.banner-container > h1 {
  color: #fdd306;
  font-size: 28px;
  font-weight: bold;
}
.banner-container > span {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
.contact-us {
  padding: 133px;
}
.contact-info-head {
  width: 60%;
}
.contact-group {
  display: block;
  margin-bottom: 10px;
}
.contact-group > h2 {
  font-size: 16px;
  font-weight: bold;
}
.contact-group > h2 > i {
  color: #1697d4;
}
.contact-input {
  height: 52px;
}
.msg-error {
  color: #db3232;
}
@media (max-width: 992px) {
  .p-5 {
    padding: 10px !important;
  }
  .contact-us {
    padding: 60px;
  }
}
@media (max-width: 768px) {
  .p-5 {
    padding: 10px !important;
  }
  .contact-us {
    padding: 30px;
  }
}
@media (max-width: 640px) {
  .card {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .p-5 {
    padding: 10px !important;
  }
  .p-4 {
    padding: 10px !important;
  }
  .contact-us {
    padding: 20px;
  }
  .banner-container {
    background-image: url("../../img/contact-us-sm.png");
  }
  .contact-info-head {
    width: 100%;
  }
}
