.banner-container {
  width: 100%;
  height: 400px;
  background-image: url("../../img/corporative_gob.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.corporative-container {
  padding: 60px 90px 40px;
}
.corporative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
}
.corporative-info {
  padding: 30px 60px 30px;
}
.corporative-info > p {
  text-align: justify;
}
.corporative-info > h2 {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
.corporative-info > span {
  margin: 0px 0px 40px;
  font-size: 14px;
  text-decoration: underline;
}
.reports-container {
  background-color: #f2f2f2;
  padding: 90px 150px 90px;
}
.infoGob > h2 {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
.infoGob > p {
  text-align: justify;
}
.infoGob > span {
  margin: 0 0 40px;
  font-size: 14px;
  text-decoration: underline;
}
.reports-filter {
  text-align: justify;
}
.mobile-display {
  display: none;
}
.anio-card {
  padding: 5px 10px 5px;
  background-color: #fff !important;
  box-shadow: none;
  border-radius: 5px;
  border: 0px !important;
  height: 140px;
  margin-bottom: 5px;
}
.anio-card > .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #707070;
}
.anio-card:hover,
.card-body:hover {
  color: #fff;
  background-color: #1697d4 !important;
}
@media (max-width: 992px) {
  .corporative-container {
    padding: 30px 60px 30px;
  }
  .corporative-info {
    padding: 20px 60px 20px;
  }
  .reports-container {
    padding: 20px 100px 20px;
  }
}
@media (max-width: 768px) {
  .corporative-container {
    padding: 30px 40px 30px;
  }
  .corporative-info {
    padding: 20px 40px 20px;
  }
  .reports-container {
    padding: 20px 60px 20px;
  }
  .mobile-display {
    display: inherit;
  }
  .desktop-display {
    display: none;
  }
  .card-body:hover {
    cursor: pointer;
  }
}
@media (max-width: 640px) {
  .corporative > span {
    text-align: center;
  }
  .corporative-container {
    padding: 30px 10px 30px;
  }
  .corporative-info {
    padding: 20px 10px 20px;
  }
  .reports-container {
    padding: 20px 30px 20px;
  }
  .banner-container {
    background-image: url("../../img/corporative-gob-sm.png");
  }
}
