$azul = #14264C;
$blanco = #fff;
$gris = #F2F2F2;
$gris-oscuro = #3D3D3D
$celeste = #1697D4;
$amarillo = #FDD306;

.banner-container
    width: 100%
    height: 400px
    background-image: url('../../img/directive.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover

.banner-container-organizacion
    width: 100%
    height: 400px
    background-image: url('../../img/organizacion.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover

.directive-board-container
    background: $gris
    padding: 60px 120px 60px

.header-directive
    color: $blanco
    background: $azul
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 10px 10px
    margin: 20px auto 20px

.header-directive > span
    font-size: 24px
    font-weight: bold

.card-rw
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    // margin-left: 104px;
    // margin-right: 104px;

.header {
  background: darkred;
  grid-column-start: x0;
  grid-column-end: x3;

  /* Equivalente a */
  grid-column: x0 / x3;
}

.sidebar {
  background: black;
  grid-row: y1 / y2;
  color: white;
}

.content {
  background: orange;
  grid-column: x1 / x3;
  grid-row: y1 / y3;
}

.foto
    height: 205px
    width: 205px
    margin-right: auto
    margin-left: auto
    margin-bottom: 13px
    margin-top: 35px

.documento-card
    background-color: $blanco
    height: 95px
    position: relative
    width: 225px
    border: 1px solid #DCDCDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

.img-1
    position: relative
    width: 100%
    border: 5px solid $blanco;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

.documento-texto
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 15px
    color: #707070

.documento-card > .card-body
    padding: 0.5rem 0

.parrafo-junta
    padding: 0px 30px 0px
    p
        width:75%
        margin: auto
        text-align: justify

.directive-board-card
    // width: 49%
    margin-right: 0px
    background: $blanco !important;
    box-shadow: none !important

.directive-board-card > .card-body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.directive-board-card2
    // width: 49%
    margin-right: 0px
    background: $blanco !important;
    box-shadow: none !important
    margin-bottom: 10px
    margin-right: 5px;
    margin-left: 5px;

.directive-board-card2 > .card-body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.directive-name-line
    border: 1px solid #000000;
    width: 87px;

.directive-name
    font-style: normal;
    color: $gris-oscuro
    font-size: 20px
    font-weight: bold
    text-align: center

.estructura-name-line
    border: 1px solid #000000;
    width: 87px;

.estructura-name
    color: $gris-oscuro
    font-size: 18px
    font-weight: bold
    text-align: center

.job,
.company
    text-align: center

.puesto
    text-align: center

.directive-board-info
    padding: 60px 120px 60px

.directive-board-info > p
    text-align: justify

.sm-md-only
    display: none

.equipo1
    background: url('../../img/equipo.png');
    position: absolute;
    width: 205px;
    height: 205px;
    left: 144px;
    top: 980px;


@media (max-width: 992px)
    .sm-md-only
        display: block
    .card-rw
        margin-left: 5px;
        margin-right: 5px;
    .estructura-name
        margin-left: 0px;

@media (max-width: 768px)
    .directive-board-container,
    .directive-board-info
        padding: 40px 40px 40px
    .sm-md-only
        display: block
    .card-rw
        margin-left: 5px;
        margin-right: 5px;

@media (max-width: 640px)
    .directive-board-container,
    .directive-board-info
        padding: 30px 30px 30px
    .sm-md-only
        display: block
    .directive-board-card > .card-body
        padding: 0.5rem 0rem 0.5rem
    .card-rw
        margin-left: 0;
        margin-right: 0;
     .card-top
        margin-left: 5px;
     .img-1
        position: relative
        width: 95%
        border: 5px solid $blanco;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

@media (min-width:1700px)
    .directive-board-card2,
    .card-rw
        margin-right: 105px;
        margin-left: 105px;
