$azul = #14264C;
$blanco = #fff;
$gris = #F2F2F2;
$celeste = #1697D4;
$amarillo = #FDD306;
$gris-oscuro = #707070;

.banner-container
    width: 100%
    height: 400px
    background-image: url('../../img/pexels-nubia-navarro-edufinanciera.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover

.banner-container-tituralize
    width: 100%
    height: 400px
    background-image: url('../../img/pexels-nubia-navarro-tituralize.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    
.banner-container-ventaja
    width: 100%
    height: 400px
    background-image: url('../../img/pexels-nubia-navarro-ventaja.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover    

.edufinanciera-board-container
    background: $gris
    padding: 40px 120px 60px

.edufinanciera-board-cards
    background: $gris
    padding: 40px 120px  
    
.seccion-principal-edufinanciera
    background: $gris
    padding: 60px 120px 20px


.header-edufinanciera
    display: grid
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;    

.descripcion-edu,
.titulo-cards 
    margin:10px

.titulo-cards-2
    display: block
    font-size: 30px;
    font-weight: bold;
    margin:10px

.linea-gris-oscuro
    color: $gris-oscuro;
    width: 37px;
    height: 4px !important;
    opacity: 1;  
    margin:10px          

.header-edufinanciera > span 
    font-size: 24px
    font-weight: bold
    margin:10px

@media (max-width: 992px)
    .edufinanciera-board-cards
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    .sm-md-only
        display: block

@media (max-width: 768px)
    .banner-container-ventaja    
        padding: 40px 40px 40px
    .sm-md-only
        display: block

@media (max-width: 768px)
    .sm-md-only
        display: block
              
@media (max-width: 640px)
    .edufinanciera-board-container,
    .seccion-principal-edufinanciera    
        padding: 12px 15px 5px
    .sm-md-only
    .header-edufinanciera
        display: block  

.card-edu 
    height: 420px;
    width: 100%;
    margin: 15px
    background: $blanco !important
    box-shadow: none !important
    width: auto;

.card-edu > .card-footer
    background-color: $blanco
    border-top: none
    display: flex
    justify-content: right
    padding: 5px 15px 20px  
.card-edu > .card-footer > a
    color: $celeste
    
.card-edu-card
    height: auto; 
    width: 100%;
    margin: 5px
    background: $blanco
    width: auto;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: FFD301;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);

@media (max-width: 640px)
    .card-edu-card
        height: auto;
    .card-edu
        height: 435 
    body 
        width: initial

.margen-cards
    margin-bottom: 20px;
    border-radius: 0px 10px 10px 0px;       

.card-edu-content 
    height: auto;
    width: 100%;
    margin: 5px
    background: $gris
    width: auto;

.card-edu-text
    height: auto;
    width: 100%;
    margin: 5px
    background: $gris
    width: auto;        

.img-card1
    background-image: url('../../img/analysis_financial_activities_4-02_2.png')
    background-repeat: no-repeat
    height: 220px;
    width: 100%;
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    display block
    
.img-card2
    background: url('../../img/analysis_financial_activities_4-02_1.png')
    background-repeat: no-repeat
    height: 220px;
    width: 100%;
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    display block
    
.margen-titulo
    margin: 10px;
    color: $azul
    font-size: 16px
    font-weight: bold

.titulo-cards-1
    margin:10px
    color: $celeste;
    text-transform: uppercase;
    font-weight: bold;

.margen-subtitulo
    margin:10px;
    color: $azul
    font-size: 16px
    font-weight: normal
    text-align: justify

.card-body
    padding: 2px;
    background-color: $blanco 

.card-body-1
    margin: 5px;
     
.texto-derecha
    text-align: right;

.link-ver1
    margin: 20;
    margin-top: 35px;
    float: right; 
    color: #1697d4;
    font-size: 16px
    font-weight: normal
    text-align: justify
    line-height: 178.5%;

.link-ver2
    margin: 20;
    margin-top: 55px;
    float: right; 
    color: #1697d4;
    font-size: 16px
    font-weight: normal
    text-align: justify
    line-height: 178.5%;    
 



  
  

