.seccion-principal-enlaces {
    background: #fff;
    padding: 60px 90px 40px
}

.seccion-principal-enlaces>p {
    text-align: justify
}

.titulo-section {
    color: #14264c;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}

.logo {
    margin-bottom: 20px
}

ul.logo-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto
}

ul.logo-set li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

a.logoi {
    font-size: 200px;
    line-height: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    color: #fff;
    margin-right: 0;
    padding-bottom: 10px !important
}

a.logoi2 {
    font-size: 150px;
    line-height: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    color: #fff;
    margin-right: 0;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important
}

a.logoi3 {
    font-size: 200px;
    line-height: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    color: #fff;
    margin-right: 1px;
    margin-bottom: 55px !important;
    padding-bottom: 0 !important
}

a.logoi4 {
    font-size: 210px;
    line-height: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 85px !important;
    padding-bottom: 10px !important
}

.li-separador {
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #e0e0e0
}

@media (max-width:640px) {
    .seccion-principal-enlaces {
        padding: 30px 30px 5px
    }

    .card-top {
        margin-left: 35px
    }

    .logo,
    ul.logo-set {
        margin-left: 35px
    }

    a.logoi {
        padding: 25px;
        padding-bottom: 11px;
        margin-bottom: 35px;
        margin-top: 25px
    }

    a.logoi2 {
        padding: 15px
    }

    a.logoi3 {
        padding: 55px
    }

    a.logoi4 {
        padding-right: 0;
        padding-left: 0;
        padding-top: 45px;
        margin-top: -100px
    }
}
