$azul = #14264C;
$blanco = #fff;
$gris = #F2F2F2;
$celeste = #1697D4;
$amarillo = #FDD306;


.questions-container
    padding: 160px 140px 90px

@media (max-width: 992px)
    .questions-container
        padding: 160px 40px 90px

@media (max-width: 768px)
    .questions-container
        padding: 160px 60px 90px

@media (max-width: 640px)
    .questions-container
        padding: 160px 40px 90px   