.questions-container {
  padding: 160px 140px 90px;
}
.collapse-link-question {
  color: #14264c;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  border-bottom: solid #e0e0e0 2px;
}
.collapse-link-question:hover {
  color: #fff;
  background-color: #1697d4;
}
.active-question {
  color: #fff;
  background-color: #1697d4;
}
.collapse-box > p {
  text-align: justify;
}
@media (max-width: 992px) {
  .questions-container {
    padding: 160px 40px 90px;
  }
}
@media (max-width: 768px) {
  .questions-container {
    padding: 160px 60px 90px;
  }
}
@media (max-width: 640px) {
  .questions-container {
    padding: 160px 40px 90px;
  }
}
