.banner-container {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.collapse-container {
  padding: 160px 140px 90px;
}
.collapse-link-item {
  color: #14264c;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  border-bottom: solid #e0e0e0 2px;
}
.collapse-link-item:hover {
  color: #fff;
  background-color: #1697d4;
}
.collapse-link-active {
  color: #fff;
  background-color: #1697d4;
}
.collapse-box > p {
  text-align: justify;
}
.collapse-box[data-show="true"],
.tab-link-box[data-show="true"] {
  display: block;
  min-height: 80vh;
}
.collapse-box[data-show="false"],
.tab-link-box[data-show="false"] {
  display: none;
}
.seccion-principal {
  padding: 60px 90px 40px;
}
.main-section {
  padding: 60px 140px 40px;
}
.main-web {
  display: block;
}
.mobile-view {
  display: none;
}
.seccion-principal > p {
  text-align: justify;
}
.nav-p-content {
  padding-top: 180px !important;
}
.p-tittle-bold {
  display: block;
  font-weight: bold;
}
.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.titulo1 {
  color: #1697d4;
  text-transform: uppercase;
  font-weight: bold;
}
.titulo2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #14264c;
}
.linea-amarilla {
  color: #fdd306;
  width: 87px;
  height: 4px !important;
  opacity: 1;
}
.parrafo1 {
  padding: 0px 30px 0px;
}
.parrafo2 {
  padding: 0px 30px 0px;
}
.parrafo2 p {
  width: 50%;
  margin: auto;
}
.subtitulo1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.subtitulo1 span {
  font-weight: bold;
}
.custom-select > .form-control {
  background-color: #efefef;
  border-radius: 30px !important;
  position: relative;
}
.custom-select > .input-group-append {
  position: absolute;
  margin-left: 96% !important;
  z-index: 10;
}
.custom-select > .input-group-append > span {
  border: none;
  background: transparent;
  height: 45px;
}
.titu-tabs {
  border-bottom: 2px solid #c4c4c4;
}
.titu-tabs > li {
  border-bottom: none;
  background-color: #f2f2f2;
  padding-bottom: 2px;
}
.titu-tabs > li > a {
  color: #707070;
  border: 2px solid #fff !important;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-right-width: 3px;
  padding: 1.5rem 1rem;
}
.titu-tabs > li > a:hover {
  color: #fff;
  background: #1697d4;
}
.active-tab-link {
  color: #fff !important;
  background: #1697d4 !important;
}
.simple-grey-card,
.simple-grey-card-accordion {
  box-shadow: none;
}
.simple-grey-card > .card-body > h2 {
  font-size: 16px;
  color: #14264c;
}
.simple-grey-card > .card-body > h2 > a {
  font-size: 16px !important;
  color: #14264c !important;
  text-decoration: none;
}
.simple-grey-card-accordion {
  background-color: #fff;
}
.simple-grey-card-accordion > .card-header {
  background-color: #fff;
}
.simple-grey-card-accordion > .card-header > h5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.simple-grey-card-accordion > .card-header > h5 > .btn-link {
  color: #646464;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  width: 100%;
}
.simple-grey-card-accordion > .card-header > h5 > i {
  margin-top: 8px;
  color: #646464;
  font-weight: bold;
}
.h-active {
  background-color: #1697d4 !important;
}
.h-active > h5 > .btn-link {
  color: #fff !important;
}
.h-active > h5 > i {
  color: #fff !important;
}
.text-justify {
  text-align: justify;
}
.uderline-ul > li {
  text-decoration: underline;
}
.modal-titularice > .modal-dialog > .modal-content > .modal-header {
  background-color: #14264c;
  justify-content: center;
  align-content: center;
}
.modal-titularice > .modal-dialog > .modal-content > .modal-footer {
  border-top: none;
}
.two-col-ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.doc-ul > li > a {
  color: #646464;
  text-decoration: none;
}
@media (max-width: 992px) {
  .collapse-container {
    padding: 160px 40px 90px;
  }
  .main-section {
    padding: 60px 80px 40px;
  }
  .main-web {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}
@media (max-width: 768px) {
  .shareholder-card {
    margin-top: 5px;
    width: 80%;
    flex: 2 45%;
  }
  .collapse-container {
    padding: 160px 60px 90px;
  }
  .main-section {
    padding: 60px 40px 40px;
  }
  .main-web {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}
@media (max-width: 640px) {
  .seccion-principal {
    padding: 60px 20px 40px;
  }
  .main-section {
    padding: 60px 20px 40px;
  }
  .titulo2 {
    text-align: center;
  }
  .parrafo1 > p {
    text-align: justify;
  }
  .linea-amarilla {
    margin: 10px auto 20px;
  }
  .banner-container {
    background-image: url("../../img/shareholders-sm.png");
  }
  .collapse-container {
    padding: 160px 40px 90px;
  }
  .titu-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .titu-tabs > li > a {
    text-align: center;
  }
  .main-web {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
