$azul = #14264C;
$blanco = #fff;
$gris = #F2F2F2;
$gris-oscuro = #3D3D3D
$celeste = #1697D4;
$amarillo = #FDD306;

.seccion-principal-infohechos
    padding: 60px 90px 10px

.seccion-principal-infohechos > p
    text-align: justify

.banner-container
    width: 100%
    height: 400px
    background-image: url('../../img/normatividad.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover

.infohechos-board-container
    background: $gris
    padding: 60px 120px 60px

.icono-buscador-infohechos
    background: #aaa0a000;
    border: 0;
    color: rgb(212, 203, 203);
    position: absolute; 
    right: 10px;
    left: 1075px;
    top: 765px

.buscador-infohechos
    background: #fcf9f9;
    color: #646464;
    border-radius: 20px;

.card-infohechos-2
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #ece8e8;

.card-titulo
    color: $azul
    font-size: 16px
    font-weight: bold
    text-align: justify 

.card-fecha         
    color: $azul
    font-size: 16px
    font-weight: normal
    text-align: right 

.card-categoria
    color: $celeste
    font-size: 16px
    font-weight: bold
    text-align: right

.margen-buscador
    margin-left: -15px;
    margin-right: -15px;    

.alinear
  margin-left: 27px;
  margin-right: 27px;  

@media (max-width: 768px)
    .infohechos-board-container
        padding: 40px 40px 40px

@media (max-width: 640px)
    .seccion-principal-infohechos
        padding: 60px 20px 40px
    .infohechos-board-container
        padding: 30px 30px 30px