.cabe.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.nav-contain {
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
  padding-left: var(--bs-gutter-x, 0.75rem) !important;
}
.cabecera {
  background-color: #14264c;
  color: #fff;
}
.menu {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100px;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(255,255,255,0.8) !important;
}
.menu a {
  color: #14264c !important;
}
.navbar-nav {
  margin-left: 10%;
}
.buscador {
  background: #c4c4c4;
  color: #646464;
  border-radius: 20px;
}
.icono-buscador {
  position: absolute;
  right: 30px;
  background: transparent;
  border: 0px;
  color: #000;
  top: 35px;
}
.carousel-indicators > button.active {
  background-color: #1697d4 !important;
  border: 2px solid #1697d4 !important;
}
.carousel-indicators > button {
  margin: 5px;
  border: 2px solid #fff !important;
  background-color: transparent !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}
.carusel-triangulo {
  position: absolute;
  top: 490px;
  right: 0px;
}
.informacion-carrusel {
  position: absolute;
  top: 250px;
  left: 130px;
  font-size: 2.5em;
  font-weight: bold;
  width: 600px;
}
.contactenos {
  background-color: #1697d4;
  border-radius: 25px;
  color: #fff;
  padding: 10px;
  width: 175px;
}
.contactenos:hover {
  color: #fff;
  font-weight: bold;
}
.contenido-sobre-nosotros {
  padding-bottom: 100px;
}
.txt-sobre-nosotros {
  color: #1697d4;
  text-transform: uppercase;
  font-weight: bold;
}
.sobre-nosotros {
  align-self: center;
  padding: 90px;
}
.tarjetas-sobre-nosotros > div > div {
  padding: 30px;
}
.titulo-sobre-nosotros {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #14264c;
}
.linea-amarilla {
  color: #fdd306;
  width: 87px;
  height: 4px !important;
  opacity: 1;
}
.informacion-sobre-nosotros {
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
}
.tarjetas-sobre-nosotros {
  padding-top: 50px;
}
.card {
  background: #f2f2f2;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 0px !important;
}
.titulo-card {
  font-size: 18px;
  font-weight: bold;
  color: #14264c;
}
.linea-azul {
  color: #14264c;
  width: 50px;
  height: 4px !important;
  opacity: 1;
}
.banner {
  width: 100%;
  height: 475px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.informacion-banner {
  text-align: -webkit-center;
  color: #fff;
  padding: 10% 20% 10% 20%;
}
.tarjeta-de-equipo {
  padding: 10% 25% 10% 25%;
}
.posicion-integrante {
  color: #1697d4;
  float: left;
  font-weight: bold;
}
.nombre-integrante {
  color: #14264c;
  float: left;
  font-weight: bold;
}
.banner-contacto {
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjeta-contacto {
  background: rgba(255,255,255,0.6);
  width: 40%;
  height: 55%;
  float: right;
  margin-top: 5%;
  border-radius: 25px;
  padding: 3%;
  margin-right: 5%;
}
.titulo-contacto {
  color: #1697d4;
  font-weight: 600;
  font-size: 12px;
  font-weight: bold;
}
.subtitulo-contacto {
  color: #14264c;
  font-weight: 700;
  font-size: 30px;
}
#nombre {
  height: 52px;
  background: #e9e9e9;
  border-radius: 5px;
  color: #646464;
}
#correo {
  height: 52px;
  background: #e9e9e9;
  border-radius: 5px;
  color: #646464;
}
#comentario {
  background: #e9e9e9;
  border-radius: 5px;
  color: #646464;
}
.footer {
  background: #14264c;
  color: #fff !important;
}
.footer i {
  color: #1697d4 !important;
}
.footer ul {
  position: relative;
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.vigilado2-logo,
.titularice-logo {
  position: relative;
}
.copyright {
  background: #fff !important;
  width: 100%;
  text-align: center;
  padding: 1%;
}
.custom-sel a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  text-align: left;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 24px;
  display: block;
  cursor: pointer;
}
.custom-sel a:hover {
  text-decoration: none;
  background-color: #1497d4;
  color: #fff;
}
.custom-sel a.selected {
  background-color: transparent;
}
.custom-sel a.selected:hover {
  background-color: transparent;
  color: #fff;
}
.hidden {
  display: none !important;
}
.lightblue {
  color: #03a9f4;
  margin-left: -4px;
}
.show-sel {
  background-color: #14264c;
  box-shadow: -5px 0px 65px 0px rgba(0,0,0,0.18);
}
.custom-sel {
  position: absolute;
  z-index: 9999;
  top: 0px;
}
.add-card-mt {
  margin-top: 150px;
}
.remove-card-mt {
  margin-top: -150px;
}
.gerente-image {
  position: relative;
  overflow: hidden;
  width: 240px;
  border-radius: 50%;
}
.gerente-image::after {
  content: '';
  display: inline;
  margin-top: 5px;
  position: absolute;
  width: 245px;
  height: 245px;
  background-color: #14264c;
  border-radius: 50%;
  z-index: 10;
}
.dropdown-toggle::after {
  display: none;
}
.equipo {
  padding-top: 70px;
}
.titulo-equipo {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #14264c;
}
.equipo > #equipo-expertos {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
}
.nav-link {
  padding: 2.4rem 1rem;
}
.nav-link:hover {
  color: #fff !important;
  background-color: #1697d4;
}
.nav-menu-item {
  color: #14264c;
}
.nav-menu-item:hover {
  color: #1697d4 !important;
}
.nav-menu-item:focus {
  color: #fff !important;
}
.menu-opcion.show {
  background-color: #1697d4;
}
.menu-opcion.show .nav-link {
  color: #fff !important;
}
.carousel-item > img {
  position: relative;
}
.shape {
  bottom: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 0 190px 500px;
  border-color: transparent transparent #1697d4 transparent;
  right: 0;
  width: 100px;
  z-index: 1;
}
.dropdown > .dropdown-menu {
  opacity: 1 !important;
}
.nv-dp-menu {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.lang-movil-control {
  display: none;
}
.unselected-lang {
  opacity: 0.5;
  margin-left: 14px;
}
#contact-form .form-group .form-control {
  color: #646464;
  font-weight: 5px;
}
.search-form-web {
  display: inline;
}
.search-form-movil {
  display: none;
}
.slide-1 {
  content: url("../../img/home-carousel/slide1-desk.png");
}
.slide-2 {
  content: url("../../img/home-carousel/slide2-desk.png");
}
.slide-3 {
  content: url("../../img/home-carousel/slide3-desk.png");
}
@media (max-width: 1180px) {
  .navbar-nav {
    margin-left: 5px !important;
  }
  .nav-item {
    white-space: nowrap !important;
  }
}
@media (min-width: 993px) {
  .search-form-web {
    display: inline;
  }
  .search-form-movil {
    display: none;
  }
  .footer {
    padding: 2% 8% 2% 8%;
  }
  .vigilado2-logo {
    float: left;
    width: 23px;
    height: 193px;
    left: 2%;
  }
  .titularice-logo {
    position: relative;
    float: top;
    width: 214px;
    height: 38px;
    left: 40px;
  }
  .divider1 ul {
    left: 10px;
    top: 10px;
    font-weight: lighter;
  }
  .divider2 ul,
  .divider3 ul {
    top: 10px;
    font-weight: 600;
  }
  .divider4 {
    position: relative;
    top: 10px;
  }
  .divider4 i {
    margin: 4px 4px 4px 4px;
    font-size: 1.5em;
  }
  .buscador {
    width: 100%;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .slide-1 {
    content: url("../../img/home-carousel/slide1-tablet.png");
  }
  .slide-2 {
    content: url("../../img/home-carousel/slide2-tablet.png");
  }
  .slide-3 {
    content: url("../../img/home-carousel/slide3-tablet.png");
  }
  .gerente-image {
    margin: 0 auto 0 auto;
    display: block;
  }
  .footer {
    height: 325px;
  }
  .footer {
    padding: 0% 2% 0% 2%;
  }
  .divider1 ul {
    font-size: 14px;
    font-weight: 350;
  }
  .divider2 ul,
  .divider3 ul,
  .divider4 span {
    font-size: 14px;
    font-weight: 600;
    line-height: 200%;
  }
  .divider4 i {
    margin: 4px 4px 4px 4px;
    font-size: 1.4em;
  }
  .titularice-logo {
    width: 214px;
    height: 38px;
  }
  .search-form-web {
    display: none;
  }
  .search-form-movil {
    display: inline;
    margin-top: 40px;
  }
  .search-form-movil .buscador {
    background-color: #f2f2f2;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: bold;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .gerente-image {
    margin: 0 auto 0 auto;
    display: block;
  }
  .footer {
    height: 245px;
  }
  .footer {
    padding: 2% 2% 0% 2%;
  }
  .divider1 ul {
    font-size: 14px;
    font-weight: 350;
  }
  .divider2 ul,
  .divider3 ul,
  .divider4 span {
    font-size: 14px;
    font-weight: 600;
    line-height: 200%;
  }
  .divider4 i {
    margin: 4px 4px 4px 4px;
    font-size: 1.4em;
  }
  .titularice-logo {
    width: 214px;
    height: 38px;
  }
  .tarjeta-contacto {
    width: 50%;
  }
  .correo-nav {
    position: relative;
    left: 5%;
  }
  .telefono-nav {
    position: relative;
    left: 10%;
  }
  .menu {
    background-color: #fff !important;
  }
  .menu > div {
    background-color: #fff !important;
  }
  .menu ul {
    position: relative;
  }
  .navbar-nav {
    margin-left: 0%;
  }
  .nav-item > .dropdown-menu > .nav-menu-item {
    color: #14264c;
    font-weight: bold;
  }
  .nav-link {
    padding: 1.1rem 1rem;
  }
  .icono-buscador {
    visibility: hidden;
  }
  .buscador {
    margin-bottom: 5%;
  }
  .informacion-carrusel {
    top: 150px;
    left: 5%;
    width: 700px;
    line-height: 100%;
  }
  .contactenos {
    margin-top: 2%;
  }
  .shape {
    border-width: 0 0 100px 500px;
  }
  .main-carousel {
    position: relative;
    top: 100px;
    height: 100%;
  }
  .contactenos {
    width: 130px;
  }
  .add-card-mt {
    margin-top: 0px;
  }
  .remove-card-mt {
    margin-top: 0px;
  }
  .search-form-web {
    display: none;
  }
  .search-form-movil {
    display: inline;
    margin-top: 40px;
  }
  .search-form-movil .buscador {
    background-color: #f2f2f2;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: bold;
  }
}
@media (max-width: 575px) and (min-width: 200px) {
  .slide-1 {
    content: url("../../img/home-carousel/slide1-phone.png");
  }
  .slide-2 {
    content: url("../../img/home-carousel/slide2-phone.png");
  }
  .slide-3 {
    content: url("../../img/home-carousel/slide3-phone.png");
  }
  .footer {
    padding: 2% 0% 2% 0%;
  }
  .gerente-image {
    margin: 0 auto 0 auto;
    display: block;
  }
  .vigilado2-logo {
    position: relative;
    top: 35px;
    left: 25px;
  }
  .titularice-logo {
    position: relative;
    width: 214px;
    height: 38px;
    left: 40px;
  }
  .divider1 ul {
    font-weight: 350;
    padding-right: 15%;
    left: 40px;
  }
  .divider2 ul {
    text-align: center;
    font-weight: 625;
    position: relative;
    left: -20px;
    line-height: 200%;
  }
  .divider3 ul {
    text-align: center;
    font-weight: 625;
    position: relative;
    left: -20px;
    line-height: 200%;
  }
  .divider4 {
    text-align: center;
    position: relative;
    left: -5px;
  }
  .divider4 i {
    margin: 14px 14px 0px 14px;
    font-size: 2em;
  }
  .tarjeta-contacto {
    width: 80%;
    margin-left: 30px;
    float: left;
  }
  .informacion-banner {
    padding: 25px;
  }
  .tarjetas-sobre-nosotros {
    padding-top: 0px;
  }
  .tarjetas-sobre-nosotros > .row > div > .card {
    margin-top: 0px;
    margin-bottom: -25px;
  }
  .tarjeta-de-equipo {
    padding: 20% 10% 30% 10%;
  }
  .add-card-mt {
    margin-top: 0px;
  }
  .remove-card-mt {
    margin-top: 0px;
  }
  .titulo-equipo {
    text-align: center;
  }
  .sobre-nosotros {
    padding: 12px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .navbar-nav {
    margin-left: 0%;
  }
  .nav-item > .dropdown-menu > .nav-menu-item {
    color: #14264c;
    font-weight: bold;
    margin-top: 5px;
  }
  .nav-link {
    padding: 1.1rem 1rem;
  }
  .menu {
    background-color: #fff !important;
  }
  .container-fluid {
    background-color: #fff !important;
  }
  .carousel-item > img {
    height: 490px !important;
  }
  .shape {
    border-width: 0 0 65px 160px;
  }
  .buscador {
    margin-bottom: 10%;
  }
  .icono-buscador {
    visibility: hidden;
  }
  .informacion-carrusel {
    top: 175px;
    left: 15px;
    width: 300px;
    line-height: 1.2;
  }
  .informacion-carrusel > span {
    line-height: 75%;
    font-size: 0.8em;
  }
  .informacion-carrusel > button {
    margin-top: 5px;
  }
  .cabecera {
    display: none;
  }
  .contenido-sobre-nosotros {
    padding: 0px 0px 100px;
  }
  .lang-movil-control {
    display: inline;
  }
  .search-form-web {
    display: none;
  }
  .search-form-movil {
    display: inline;
    margin-top: 40px;
  }
  .search-form-movil .buscador {
    background-color: #f2f2f2;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: bold;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
