$azul = #14264C;
$blanco = #fff;
$gris = #F2F2F2;
$gris-oscuro = #3D3D3D
$celeste = #1697D4;
$amarillo = #FDD306;

.seccion-principal-normativa
    padding: 60px 90px 10px

.seccion-principal-normativa > p
    text-align: justify

.card-1
    border-radius: 5px 5px 0px 0px;
    border: 0px !important;

.banner-container
    width: 100%
    height: 400px
    background-image: url('../../img/normatividad.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover

.normativa-board-container
    background: $gris
    padding: 60px 120px 60px

.header-normativa
    color: $blanco
    background: $azul
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 10px 10px
    margin-bottom: 20px

.header-normativa > span 
    font-size: 24px
    font-weight: bold   

.nav-normativa
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;

.normativa-card
    width: 177px;
    height: 75px;
    background-color:$gris;
    position: relative;
    border: 1px solid $gris;
    box-shadow: 0px 0px 0px 1px rgb(236, 232, 232);

.normativa-card:hover
    background: #1697D4    
    color: $blanco

.search-position 
    position: absolute;
    width: 1240px;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color:black;

.borde-search 
    border-radius: 35px;

.icono-buscador-normativa
    background: #aaa0a000;
    border: 0;
    color: rgb(212, 203, 203);
    position: absolute; 
    right: 10px;
    left: 1075px;
    top: 1081px

.buscador-normativa
    background: #fcf9f9;
    color: #646464;
    border-radius: 20px;
    
.normativa-texto 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 16;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 5px; 
    margin-left: 25px;
    text-decoration: none;

 .ajuste-nav 
    margin-left: 30px;
    margin-right: 30px;   

.card-normatividad-2
    background: white;
    border: 0px !important;
    box-shadow: 0 0 0 1px #ece8e8;
.content-normatividad
    margin-left: 0px;
    margin-right: 0px;

.card-titulo
    color: $azul
    font-size: 16px
    font-weight: bold
    text-align: justify  

.card-texto         
    color: $azul
    font-size: 16px
    font-weight: normal
    text-align: justify 

.linea-gris-oscuro
    color: $gris-oscuro;
    width: 130px;
    height: 3px !important;
    opacity: 1;  

.design-n
    color: $gris-oscuro

.design-n:hover
    color: $blanco

.ajuste-margen
    margin-left: 30px;
    margin-right: 30px;
    
@media (max-width: 768px)
    .normativa-board-container
        padding: 40px 40px 40px

@media (max-width: 640px)
    .normativa-board-container
        padding: 30px 30px 30px
    .normativa-card
        left: 75px;
        margin-bottom: 5px;
    .seccion-principal-normativa
        padding: 60px 20px 40px

