.banner-container {
  width: 100%;
  height: 400px;
  background-image: url("../../img/shareholders.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.shareholders-container {
  padding: 60px 90px 40px;
}
.shareholders {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.shareholders-text {
  padding: 0px 30px 0px;
}
.our-shareholders {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.our-shareholders > span {
  font-weight: bold;
}
.shareholders-cards {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shareholder-card {
  display: flex;
  border-right: solid #f2f2f2 2px;
}
.shareholder-card-end {
  border-right: none !important;
}
.shareholder-card > .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.shareholder-card > .card-body > h2 {
  color: #1697d4;
  font-size: 12px;
}
.shareholder-name {
  text-align: center;
}
@media (max-width: 768px) {
  .shareholder-card {
    margin-top: 5px;
    width: 80%;
    flex: 2 45%;
  }
  .shareholders-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .shareholders-cards {
    margin-left: 0;
  }
  .shareholders-cards:nth-child(odd) {
    border-right: none;
  }
}
@media (max-width: 640px) {
  .shareholder-card {
    margin-top: 5px;
    width: 80%;
    flex: 2 45%;
  }
  .shareholders-container {
    padding: 60px 20px 40px;
  }
  .titulo-sobre-nosotros {
    text-align: center;
  }
  .shareholders-text > p {
    text-align: justify;
  }
  .shareholders-cards {
    margin-left: 0;
    margin-top: 10px;
  }
  .shareholders-cards:nth-child(odd) {
    border-right: none;
  }
  .banner-container {
    background-image: url("../../img/shareholders-sm.png");
  }
}
