
$azul = #14264C;
$blanco = #fff;
$gris = #F2F2F2;
$gris-medio = #DCDCDC
$celeste = #1697D4;
$amarillo = #FDD306;
$gris-oscuro = #707070;

.banner-container
    width: 100%
    height: 400px
    background-image: url('../../img/shareholders-rel-web.png')
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover

.rel-head
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    flex-direction: column

.rel-container
    padding: 60px 160px 40px 

.shldr-rel-card
    box-shadow: none

.calendar-card
    background-color: $blanco
    height: 95px
    position: relative
    width: 225px

.calendar-card > .card-body
    padding: 0.5rem 0

.emision-btn
    padding-top: 12px
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #707070;

.shldr-rel-card > .card-body
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    flex-direction: column

.shrl-icon
    background-color: $blanco
    border-radius: 50%
    align-items: center
    margin-bottom: 20px

.shrl-icon > i
    color: $celeste
    font-size: 4rem

.shldr-email > i, 
.shldr-phone > i
    color: $celeste     

.shldr-name
    font-weight: bold

.shldr-job
    font-size: 14px       
    margin-bottom: 10px

@media (max-width: 992px)
    .rel-container
        padding: 30px 60px 30px

@media (max-width: 768px)
    .rel-container
        padding: 30px 40px 30px
    .calendar-card
        width: 100%

@media (max-width: 640px)
    .rel-container
        padding: 30px 40px 30px
    // .banner-container
    //     background-image: url('../../img/corporative-gob-sm.png')           